<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <title>CV-Generator</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <h1>CV-Generator</h1>
    <form method="post" th:action="@{/update}" th:object="${cvInformation}">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input class="form-control" id="firstName" placeholder="Enter first name" th:field="*{firstName}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input class="form-control" id="lastName" placeholder="Enter last name" th:field="*{lastName}" type="text">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" placeholder="Enter email" th:field="*{email}" type="email">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input class="form-control" id="phone" placeholder="Enter phone" th:field="*{phone}" type="tel">
        </div>
        <div class="form-group">
            <label for="jobTitle">Job title</label>
            <input class="form-control" id="jobTitle" placeholder="Enter job title" th:field="*{jobTitle}" type="text">
        </div>
        <div class="form-group">
            <label for="academicDegree">Academic degree</label>
            <input class="form-control" id="academicDegree" placeholder="Enter academic degree"
                   th:field="*{academicDegree}" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <a href="/download">Download</a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>